* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

p {
  color: rgb(65, 65, 160);
}

footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
  width: 100%;
  background-color: #ccc;
  padding: 10px;
}

.footer-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
