@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  background-color: #6e6c6c;
  color: #ddd;
}

.container {
  width: min(100% - 4rem, 120rem);
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.color-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.color-div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

h1 {
  background-color: #fff;
  padding: 1rem 3rem;
  color: #6e6c6c;
  border-radius: 1rem;
  margin-bottom: 4rem;
}

.color-box {
  height: 10rem;
  width: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  cursor: pointer;
}

.selected {
  opacity: .6;
  border: .2rem solid white;
}
